@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");

body {
  background-color: #1e2931;
}

fieldset {
  border-color: rgba(255, 255, 255, 0.15);
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  margin: 20px 20px;
}
legend {
  padding: 0px 10px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Ucher";
  font-weight: bold;
  font-size: 25px;
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 20px;
}

.moviePosterContainer {
  position: relative;
  width: 200px;
  height: 270px;
  margin-bottom: 20px;
  margin-right: 50px;
  cursor: pointer;
}

.moviePosterContainer img {
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 10px black;
}
.moviePosterContainer span {
  box-sizing: border-box;
  position: absolute;
  height: 30%;
  top: 70%;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 18px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 21px;
}
